body {
    background-color: #e9f2ff;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

/* Judul utama */
h1 {
    background-color: white;
    margin: 0;
    padding: 20px 0;
    color: #222;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Navbar */
nav {
    background-color: #740f0f;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Buat form login & register di tengah layar */
.container {
    background-color: white;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    margin: 50px auto; /* ini yang bikin di tengah */
    text-align: left;
}

/* Judul form */
.container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Form di dalam kotak */
.container form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    text-align: left;
    font-size: 14px;
    color: #333;
}

input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #c25555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #a7454e;
}
